@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    font-family: "Poppins", "sans-serif";
    font-size: 0.675rem; /* Diminue la taille de base */
    background-color: #fff;
}

/* Styles pour les éléments spécifiques */
label,
.form-label,
.btn,
input,
select,
.form-select {
    font-size: 0.875rem; /* Réduit la taille du texte dans les labels, boutons, inputs, selects */
}

/* Boutons */
.gradient-orange-blue {
    background: linear-gradient(to right, orange, rgb(24, 145, 64));
    color: white;
    border: none;
}

.btn {
    font-size: 0.875rem; /* Réduit la taille du texte dans les boutons */
}

.btn:hover {
    background-color: #cc8400;
}

/* Pied de page */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.75rem; /* Diminue la taille du texte dans le pied de page */
    margin-top: 2rem;
    font-family: "Poppins", "sans-serif";
}

.footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem; /* Réduit la taille des titres sur mobile */
    }

    .section {
        padding: 1.5rem;
    }

    .btn {
        width: 100%;
    }
}

/* Style des popups */
.swal2-popup.swal2-toast {
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 0.625em;
    overflow-y: hidden;
    background: #fff;
    box-shadow: 0 0 0.625em #d9d9d9;
}

.swal2-popup.swal2-toast .swal2-title {
    flex-grow: 1;
    justify-content: flex-start;
    margin: 0 0.6em;
    font-size: 0.875rem; /* Diminue la taille du titre */
    font-family: "Poppins", "sans-serif";
}

.swal2-popup.swal2-toast .swal2-footer {
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
    font-size: 0.75rem; /* Diminue la taille de la police du pied de la popup */
}

.swal2-popup.swal2-toast .swal2-content {
    justify-content: flex-start;
    padding: 0;
    font-size: 0.875rem; /* Diminue la taille du texte dans le contenu de la popup */
}

.swal2-popup.swal2-toast .swal2-styled {
    margin: 0 0.3125em;
    padding: 0.3125em 0.625em;
    font-size: 0.875rem; /* Diminue la taille du texte dans les boutons de la popup */
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
    font-size: 1.5rem; /* Réduit la taille de l'icône */
}

/* Animation et autres styles restent inchangés */
